* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
}

.grid-container {
	display: grid;
	border: 5px solid black;
	height: 75vh;
	width:75vw;

}

.grid-item {
	border: 1px solid red;
	
}